state-machine-definition.json
{
  "Comment": "Workflow de Orquestração de Pedidos de Serviço - Desafio DIO Step Functions",
  "StartAt": "ValidarDados",
  "States": {
    "ValidarDados": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:4967-2867-4467:function:validador-lambda",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeout",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TratarErroGrave"
        }
      ],
      "Next": "VerificarStatus"
    },
    "VerificarStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "APROVADO",
          "Next": "ProcessarPedido"
        }
      ],
      "Default": "NotificarErro"
    },
    "ProcessarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:lambda:us-east-1:4967-2867-4467:function:processador-lambda",
        "Payload.$": "$"
      },
      "Next": "Sucesso"
    },
    "NotificarErro": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:lambda:us-east-1:4967-2867-4467:TopicoNotificacaoDeErro",
        "Message": {
          "Subject": "ERRO: Pedido Rejeitado no Workflow Step Functions",
          "Body.$": "$.error_message" 
        }
      },
      "Next": "Falha"
    },
    "TratarErroGrave": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:lambda:us-east-1:4967-2867-4467:TopicoNotificacaoDeErroGrave",
        "Message": {
          "Subject": "ERRO GRAVE: Falha Irrecuperável no Workflow",
          "Body.$": "$.Cause"
        }
      },
      "Next": "Falha"
    },
    "Sucesso": {
      "Type": "Succeed"
    },
    "Falha": {
      "Type": "Fail"
    }
  }
}
